*{
	margin:0;
	padding:0;
}
body{background:#eee;}
/*star style head2*/


.head2{
width:100%;
height:100px;
background-color:#281a2e;
z-index:1500;
overflow:hidden;
box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);
}




.h{
	font-size:25px;
	margin-left:40px;
	font-family:bigcaslon;
	padding-top:37px;
	float:left;
	
}

.head2 span{
color:#ff9308;
font-family:arial;
	
}



.head2 ul{
text-align:center;
margin-left:225px;
float:left;
}


.head2 ul li{
margin:43px;
display:inline-block;	
}


.head2 ul a{
text-decoration:none;
color:#ff9308;
}


.head2 ul a:hover{
transition:1s;		
color:#0c0d0d;
background-color:#195d64;
border-bottom-left-radius:20px;	
border-bottom-right-radius:20px;
box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);	
}


.head2 img{

 padding-top: 1px;
 width: 99px;
 border-radius: 60px;
 margin-left: 199px;
animation-name:	name;
animation-duration:3s;
animation-iteration-count:2;
animation-timing-function:linear;
background-color:#eee;


/*end head2*/


/*style head3*/


}

.head3
{
    width: 67%;
    text-align: center;
    height: 300px;
    background-position: 90% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);
    margin-left: 238px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.head3 p1
{

	font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: justify;
	font-size: 18px;
	color:black;
}

.fill
{

margin-bottom:30px;
text-align:center;
font-weight:bold;
font-size:40px;
-webkit-text-fill-color: #ff9800;
-webkit-text-stroke: 1px #333;
position: relative;

}

.fill:before
{
content:attr(data-text);
position:absolute;
left:0;
top:0;
-webkit-text-fill-color: black;
transition:1s;
width:0;
overflow:hidden;
}

.fill:hover:before
{
width:100%;

}

.ab1{
background-color:rgb(251 251 251 / 38%);	
padding:20px;	
}	

@keyframes name{
	
0%{
	transform:scale(.6);
       
}	
50%{
	   
	transition:2s;
}	
100%{	
transform:scale(1);	
}
}

.home{
width:25%;
height:39px;	
}
.home img
{
float:left;	
width:41px;
height:29px;
}
.home span{
	color:red;
	background:none;
}

.icon{
text-align:center;	
height:300px;
width:100%;	
background-color:black;


}

.icon p{
	color:red;
	font-size:30px;
	font-family:arial;
	
	
}
.ab{	
margin:30px auto;
width:300px;
height:200Px;
position:relative;	
margin-top:0;	

}

.abn
{
width:300px;
height:366px;
position:relative;	
display:inline-block;
margin-left:103px;
background-color:#0f0f0fc4;
box-shadow: 12px 8px 7px 0px rgb(0 0 0 / 55%);

}
.abn a{
display:block;
margin-bottom:12px;
text-decoration:none;
width:162px;
color:#efeeec;	
font-size:15px;
margin-left:7px;
}
.abn a:hover{
transition:2s;
transform:scale(.8)	;
background-color:black;
color:#ff9800d4;
border-radius:20px;
	
	
}
.abn span{
	
	
	height:100px;
	background-color:black;
}
.abn  p{
margin:0;	
position:absolute;
left:0;
bottom:0;
color:#eee;
background-color:#ff9800;
width:278px;
color:#000000b8;
padding:11px;
}

p1{
text-align:none;
font-size:15px;
color:#08e7a9f7;
}
.ab img{
width:300px;
height:200px;

}
