*
{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: .2s linear;

}




body{  background-color: #eee}



/* style navbar */

.navbar{
width:100%;
height:100px;
background-color:#281a2e;
position:fixed;
z-index:1500;
box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);
}

.h{
	font-size:35px;
	margin-left:40px;
	font-family:bigcaslon;
	padding-top:31px;
	float:left;
	
}
span{
color:#ff9308;
font-family:arial;
font-weight: bold;
	
}
.navbar ul{
	text-align:center;
	margin-left:401px;
}

.navbar ul li{
 margin:43px;
display:inline-block;	
float:left;
list-style: none;
font-size: 17px;
}
.navbar ul li:hover{
transition:1s;
width:85px;
background:#fd9a3c;
border-radius:20px;
box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);

}
.navbar ul a{
text-decoration: none;
color:#fff;

}

.form{
position:absolute;
right:20px;

}

.navbar .input1{
	
    font-family:monospace;
    width: 82px;
    margin-left: 10px;
    font-size: 13px;
    border-radius: 0px;
    text-align: center;
    margin-top: 41px;
    height: 25px;
    cursor: pointer;
    border: 2px solid #fff;
    
}
.navbar .input2{
	
    font-family:monospace;
    width: 82px;
    margin-left: 10px;
    font-size: 13px;
    border-radius: 0px;
    text-align: center;
    margin-top: 41px;
    height: 25px;
    cursor: pointer;
    border: 2px solid #fff;
}
.navbar .input1:hover
{
 background-color:#281a2e; 
  color:#fff;
  border: 2px solid#281a2e; 

}



/*style media head2*/




/*style head3*/

.head3{
width:100%;
background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/55.jpg) ;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
height:573px;
text-align: center;

}

.head3 img{    margin-top: 70px;}


.fill
{
margin-top:10px;
font-weight:bold;
position: relative;
font-size: 50px;
font-family:arial;
padding-top: 160px;
animation-name:text;
animation-timing-function:ease-in-out;
animation-duration:2s;
animation-iteration-count:1;
color:#fff;

}
header 
{
width: 100%;
height: 220px;
overflow:hidden ;

}

.head3 p1
{

    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    font-size:25px;
    color:#fff

}

@keyframes text{
	
0%{
	
        margin-left:700px;
        transition:3s;
}
25%{color:#195d64 }

100%{
    margin-right: 20px;transition: 3s;
}
}

/*style head4 */


.head4{
width:100%;
text-align:center;
margin-top:70px;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);
height:126px;
}

.p11{
font-size:30px;
color:#ff9308;
font-family:arial;
	
}
p2{

font-family:arial;	
}

/*style head5*/

.head5{text-align:center}

.head5 div{
    height: 213px;
    width: 23.75%;
    background-color: #fff;
    display: inline-block;
    padding-left: 8px;
    box-shadow: 5px 5px 0px 0px rgb(0 0 0 / 10%);
    padding-top: 17px;
    border: 2px solid #fff;
    margin-top: 10px;
}



.head5 div:hover{
transform: scale(.95);
background-color:#bdb8b88c;
border-radius:5px;
transition:1s;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);

}

.head5 div:hover .p5{
  color: black;  
}



.head5 span{

font-size:25px;

margin-bottom:30px;

color:#145364;
font-weight:bold;
}	
.head5 div .p5{
font-size:19px;
font-family:arial;
color:#145364a1;	
	
}


@media(max-width:1350px){

.head5 div {
    height: 300px;
    width: 305px;
}
.head5{text-align:center;}
}
/* gallary */


.gallary
{
width:750px;
height: 400px;
background-color: #fff;
text-align: center;
padding-top: 50px;
box-shadow: 5px 7px 0px 0px rgb(0 0 0 / 10%);
margin-top: 20px;
margin-left: 292px;
border-radius: 20px;
}
.gallary img
{
    width: 660px;
    height: 351px;
    box-shadow: 4px 2px 0px 0px rgb(0 0 0 / 10%);
    
}

.gallary input 
{
    margin-left: 10px;
    margin-top: 8px;
}

/*  style head6*/


.head6{
text-align:center;
margin-top:70px;
width:100%;	


	
}

.head6 .p06{
color:#060606ad;
font-size:22px;	
	
	
}
.head6 span{
color:#ff9308;	
font-size:30px;
font-family:arial;
}

/*  style head7*/
.head07{width:100%;text-align:center;}


.head7{
width:861px;
height: 154px;
margin-top: 70px;
margin-left:225px;

}

.head7 a{
width: 87px;
Height: 23px;
background-color:#eee;
border-radius:20px;
margin-bottom:10px;
text-decoration:none;
list-style:none;
color:#ff9308;
text-align:center;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);
display:inline-block;
margin-top:20px;

}

.head7 a:hover{
background-color:black;
color:#eee;
transform: scale(.95);
box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);
transition:1s;
}


.im1:hover,.im2:hover,.im3:hover,.im4:hover,.im5:hover{
transform:scale(.7);
transition:1s;}


@media(max-width:1115px){.head7{margin-left:119px}}
@media(max-width:999px){.head7{margin-left:61px}}
@media(max-width:942px){.head7{margin-left:29px}}
@media(max-width:908px){.head7{margin-left:11px}}
@media(max-width:890px){

.head7{


    width:64%;  
    height: 480px;
    margin-left: 162px;
    text-align: center;
}}

@media(max-width:793px){


.head7{

    height: 469px;
    text-align: center;
    
}
}


.head7 img{
width: 86px;
border-radius: 200px;

}

.head7 div {
margin:.5%;
width:160px;
display:inline-block;
background: #f1f1f1;
text-align:center;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);

}


.head7 div:hover{

border-radius:7px;
background:#fff;
transform:scale(.9);
transition:1s;
}


.im5
{
margin-bottom:27px;
}

.head7 .im01:hover{background:black;transition:1s;}
.head7 .im02:hover{background:#1f5d79;transition:1s;}
.head7 .im03:hover{background:white;transition:1s;}
.head7 .im04:hover{background:#fff;transition:1s;}
.head7 .im05:hover{background:white;transition:1s;}

/* style link . used car*/
.used
{
text-align:center;
height:24px;
padding:10px;
margin: 30px auto;
width: fit-content;
border-radius:10px;
box-shadow: 5px 5px 0px 0px rgb(0 0 0 / 10%);


}

.used span{color:#aeaca8;}

.used a
{
text-decoration:none;
font-size:30px;
font-family:arial;
color:#ff9308;

}
.used a:hover
{
color:#fff;
box-shadow: 5px 5px 0px 0px rgb(0 0 0 / 10%);
}

.used a:hover span{color:black}
.used:hover{background:#145364}


/*style Client's Review */

.clin div{
    height: 308px;
    width: 28%;
    background-color: #fff;
    display: inline-block;
    padding-left: 14px;
    box-shadow: 5px 5px 0px 0px rgb(0 0 0 / 10%);
    padding-top: 17px;
    border: 2px solid #fff;
    margin-left: 38px;
    margin-bottom: 100px;

}
.clin img
{
  width: 111px;
  border-radius: 100px; 
  float:left; 
  margin-top: 38px;
}

.pclin
{
width: 100%;
text-align: center;
margin-top: 100px;
margin-bottom: 50px;
}
.pclin p
{
    
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size:25px;

}
section
{
    margin: 73px;
    width: 200px;
    text-align: justify;
    padding-left: 55px;
}


.clin div p{
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
}



@media(max-width:1350px){

    .clin  div {
        height: 300px;
        width: 305px;
    }

}
    
    



/*style head8*/

.head8{
width:97%;
height:100px;
background-color:#eee;
text-align:center;
padding:20px;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);
}

.head8 div {
width:21.75%;
background-color:#fff9f9;
height:90px;
margin:.2%;
display:inline-block;
text-align:center;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);

}

.head8 div header{
width: 61px;
height: 63px;
border-radius: 100px;
background-color: #eee;
padding: ;
margin-top: 11px;
margin-left: 9px;
float:left;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);

}
.head8 div p{
margin-top: 27px;
margin-right: 105px;
text-align: center;
color: #ff9308;
font-size:20px;
font-family:arial;
}
.head8 div p1{
margin-top: 27px;
margin-right: 105px;
text-align: center;
color: black;
}
.head8 div:hover{
background-color:#2b0b46;
transition:1s;
}
.head8 div:hover header{
	transition:1s;
	background-color:#fdca3b;
        transform:scale(.8)
}
.head8 div:hover p{
color:#eee;
font-weight:bold;	
	
}
.head8 div:hover p1{
color:#eee;
font-weight:bold;		
	
}

@media(max-width:1350px){

.head8 {height:358px;text-align:center;}
.head8 div{width:300px;}

}




/*head9*/



.head9
{
padding:30px;
background:#ffffff75;
box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 10%);
}

.head9 p8
{

    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size:25px;
    font-family:arial;



}

.head9 .img
{
    width: 133px;
    height: 111px;
    border-radius: 72px;

}

.head9 span{

color:#fc9308;
cursor:pointer;

}

.head9 img
{
width: 133px;
height: 111px;
border-radius: 72px;
margin-top: 10px;
animation-name:	name;
animation-duration:6s;
animation-iteration-count:2;
animation-timing-function:ease;
  
}

.head9 p9{

    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
}
@keyframes name{
	
0%{
	
        margin-left:700px;
        
}
	
100%{	
transform:scale(.9);
 
	
}
}
.video video
{

    width: 100%;
    height:400px;
    object-fit: cover;
}
.footer ul{
    list-style: none;
}

.footer-4 .social-links a:hover{
    color: #c4bebe;
}
.footer ul :hover{
    color: #c4bebe;
}
.footer{
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 23, 23);
    height: 400px;
    font-family: 'Roboto', sans-serif;
    
}
.row{
    display: flex;
    line-height: 1.6;
    max-width: 1300px;
    padding: 50px;
    padding-left: 80px;
}
h4{
    display: block;
    color: rgb(169, 185, 184);
    padding: 20px;
    padding-left: 38px;
    font-size: 22px;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4{
    width: 30%;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.8;
}
.social-links a{
    display: block;
    padding-left: 40px;
}
.footer ul li a{
    text-decoration: none;
    color: rgb(114, 107, 107);
    margin-left: 39px;
}
.social-links a{
    text-decoration: none;
    color: rgb(114, 107, 107);
}



