*{
    font-family: 'Poppies', sans-serif;
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}
.navbar{
    width:100%;
    height:100px;
    background-color:#281a2e;
    z-index:1500;
    box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);
    }
    
    .h{
        font-size:35px;
        margin-left:40px;
        font-family:bigcaslon;
        float:left;
        
    }
    span{
    color:#ff9308;
    font-family:arial;
    font-weight: bold;
        
    }
    .navbar ul{
        text-align:center;
        margin-left:401px;
    }
    
    .navbar ul li{
    margin:43px;
    display:inline-block;	
    float:left;
    list-style: none;
    font-size: 17px;
    }
    .navbar ul li:hover{
    transition:1s;
    width:85px;
    background:#fd9a3c;
    border-radius:20px;
    box-shadow: 10px 8px 7px 0px rgb(0 0 0 / 10%);
    
    }
    .navbar ul a{
    text-decoration: none;
    color:#fff;
    
    }
    
:root{
    --main-color:#d90429 ;
    --text-color:#020102 ;
    --bg-color:#fff ;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-right: auto;
    margin-left: auto;
}

header{
    display: block;
    width: 100%;
    top: 0; left: 0;
    z-index: 100;
}


.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;
}



.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: .938rem;
    font-weight: 300;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: .5rem;
    overflow: hidden;
}

.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
    transform: scale(1.1);
    transition: .5s;
}

.cars-container .box a{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: .5rem;
}

.cars-container .box:hover a{
    background: var(--main-color);
    color: var(--bg-color);
}
.footer ul{
    list-style: none;
}

.footer-4 .social-links a:hover{
    color: #c4bebe;
}
.footer ul :hover{
    color: #c4bebe;
}
.footer{
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 23, 23);
    height: 400px;
    font-family: 'Roboto', sans-serif;
    
}
.row{
    display: flex;
    line-height: 1.6;
    max-width: 1300px;
    padding: 50px;
    padding-left: 80px;
}
h4{
    display: block;
    color: rgb(169, 185, 184);
    padding: 20px;
    padding-left: 38px;
    font-size: 22px;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4{
    width: 30%;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.8;
}
.social-links a{
    display: block;
    padding-left: 40px;
}
.footer ul li a{
    text-decoration: none;
    color: rgb(114, 107, 107);
   
}
.social-links a{
    text-decoration: none;
    color: rgb(114, 107, 107);
}
